In [2]:
# reverse data from above str2
str2='data is new fuel' 
len(str2)

16

In [11]:
str2[-12:-17:-1]

' atad'

In [15]:
str2[-6:-9:-1]

'wen'

In [24]:
str1='HELLO PYTHON'

In [25]:
str1[0:2]='Hi'

TypeError: 'str' object does not support item assignment

In [26]:
str2 = str1.replace ('HE','HI')
# string.replace('chara to replace','by what value'
# the characters should be replaced)

In [27]:
str2

'HILLO PYTHON'

In [28]:
str2=str1.replace(' ','*')

In [29]:
str2

'HELLO*PYTHON'

In [22]:
del str1 # delete a string

In [23]:
str1

NameError: name 'str1' is not defined

In [30]:
str1

'HELLO PYTHON'

### STRING CONCATENATION

In [33]:
# STRING CONCATENATION
s1='data'
s2='science'
s3=s1 + s2

In [34]:
s3

'datascience'

In [35]:
s1="data"
s2="science"
s3=s1+" "+s2

In [36]:
s3

'data science'

## string membership

In [37]:
# string membership 
mystr1="Hello Python"

In [38]:
'Hello' in mystr1 # check whether 
#substring 'hello' is present in given string

True

In [39]:
# task: find numbers in a string by taking strings from user
str3=input("Enter strings")
str3

Enter stringsHi 2 All

'Hi 2 All'

In [40]:
str3=input("Enter String")
'2' in str3

Enter Stringhi 2 all

True

### String Function

string partioning

In [41]:
str5= "Natural Language processing with python and R and Java"
L=str5.partition("with") # returns tuple
L

('Natural Language processing ', 'with', ' python and R and Java')

In [42]:
L=str5.partition(" ")

In [43]:
L

('Natural', ' ', 'Language processing with python and R and Java')

In [44]:
mystr2=" Hello Everyone "
mystr2

' Hello Everyone '

In [45]:
# count 
mystr2.count('e') # count the number of occurance of given substring

3

In [46]:
mystr2

' Hello Everyone '

In [47]:
# strip 
mystr2.strip(' He') # remove the input temporarily

'llo Everyon'

In [50]:
mystr2.rstrip() # remove all whitespace at the end of the string

' Hello Everyone'

In [49]:
mystr2.lstrip() # remove all whitespace at the beging of the string

'Hello Everyone '

In [51]:
mystr2='Hello Python'

In [52]:
mystr2= mystr2.lower()

In [53]:
mystr2

'hello python'

In [56]:
mystr2= mystr2.upper()

In [57]:
mystr2

'HELLO PYTHON'

In [60]:
mystr2

'HELLO PYTHON'

In [61]:
mystr2.startswith("HE")
# return boolean value true if string starts with "He"

True

In [62]:
mystr2.startswith("He")
# return boolean value true if string starts with "He"

False

In [63]:
mystr2.endswith("thon")
# return boolean value true if string Ends with "thon"

False

In [64]:
mystr2.endswith("THON")
# return boolean value true if string Ends with "thon"

True

In [65]:
mystr4='one two three four one two two three five five six seven six seven one oneone ten eight ten nine eleven ten ten nine'

In [66]:
mystr4

'one two three four one two two three five five six seven six seven one oneone ten eight ten nine eleven ten ten nine'

In [67]:
# split () - returns a list as output 
# 
print(mystr4.split())
# List1=mystr4.split()

['one', 'two', 'three', 'four', 'one', 'two', 'two', 'three', 'five', 'five', 'six', 'seven', 'six', 'seven', 'one', 'oneone', 'ten', 'eight', 'ten', 'nine', 'eleven', 'ten', 'ten', 'nine']

In [68]:
print(mystr4.split('one'))

['', ' two three four ', ' two two three five five six seven six seven ', ' ', '', ' ten eight ten nine eleven ten ten nine']

In [69]:
print(mystr4.split('two'))

['one ', ' three four one ', ' ', ' three five five six seven six seven one oneone ten eight ten nine eleven ten ten nine']

In [70]:
a = 5 
b = 7
print("the value of a & b is",a,b)

the value of a & b is 5 7

In [71]:

print("the value of a is {} & b is () this is my output".format(a,b))

the value of a is 5 & b is () this is my output

In [72]:
a = 5 
b = 7
sum=a+b
print("the value of a & b is",a,b)

the value of a & b is 5 7

In [75]:
print("the sum of a is {} & b is {} this is my sum {}".format(a,b,sum))

the sum of a is 5 & b is 7 this is my sum 12

In [81]:
# combing string & numbers using  format method 
em1=40
em2=55
em3=77
print('cost of em1 ,em3 ,em2 are {} , {} , {} '.format(em1,em3,em2))

cost of em1 ,em3 ,em2 are 40 , 77 , 55