# 2)

In [18]:
class Employee:
    def __init__(self, name, position, salary):
        self.name = name
        self.position = position
        self.salary = salary

    def calculate_annual_salary(self):
        return self.salary * 12
    
employee1 = Employee("Abdul Mulla", "Manager", 50000)  
annual_salary = employee1.calculate_annual_salary()  
print(f"{employee1.name} earns an annual salary of Inr {annual_salary}")

Abdul Mulla earns an annual salary of Inr 600000

# 4)

In [19]:
original_list = [1, 2, 3, 4, 5]

squared_list = list(map(lambda x: x ** 2,original_list))

print("Original List:", original_list)
print("Squared List:", squared_list)

Original List: [1, 2, 3, 4, 5]
Squared List: [1, 4, 9, 16, 25]

# 5)

In [12]:
keys = ['City:', 'state:', 'pincode']  
values = ['hubli', 'karnataka', 580030]  

result_dict = dict(zip(keys, values))
print(result_dict)

{'City:': 'hubli', 'state:': 'karnataka', 'pincode': 580030}

# 6)

In [20]:
a, b, c = 10, 5, 18 

largest = max(a, b, c)
print("The largest number is:",largest)

The largest number is: 18

# 7)

In [30]:
principal = 7500
rate = 0.05 
time = 3  

simple_interest = principal * rate * time
total_amount = principal + simple_interest
print(f"The simple interest for a principal of rs{principal} at {rate*100}% interest rate for {time} years is rs{simple_interest}")
print(f"The total amount will be rs{total_amount}")

The simple interest for a principal of rs7500 at 5.0% interest rate for 3 years is rs1125.0
The total amount will be rs8625.0