In [98]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

# Sample Data (Feel free to adjust)
data = {
    'height': [1.7, 1.8, 1.6, 1.9, 1.55],
    'weight': [60, 75, 55, 80, 50],
    'BMI_class': ['Normal', 'Normal', 'Underweight', 'Normal', 'Underweight']
}
df = pd.DataFrame(data)

In [101]:
# Features and Labels
X = df[['height','weight']]
y = df['BMI_class']

# Split Data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [102]:
X

   height  weight
0    1.70      60
1    1.80      75
2    1.60      55
3    1.90      80
4    1.55      50

In [103]:
X_train

   height  weight
2     1.6      55
0     1.7      60
3     1.9      80

In [104]:
y_train

2    Underweight
0         Normal
3         Normal
Name: BMI_class, dtype: object

In [105]:
# K-NN Model (let's use K=3)
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X_train, y_train)

# Prediction example
height1 = 1.7  # Meters
weight1 = 55    # Kilograms

In [106]:
prediction = knn.predict([[height1, weight1]])
print("Predicted BMI Class:", prediction[0])

Predicted BMI Class: Normal

C:\Users\Asus\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

In [107]:
y_train

2    Underweight
0         Normal
3         Normal
Name: BMI_class, dtype: object

In [76]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

# Create the training data
data = {
    'Size': ['Small', 'Large', 'Small'],
    'Shape': ['Round', 'Square', 'Round'],
    'Color': ['Red', 'Blue', 'Green']
}
df = pd.DataFrame(data)

# Encode features (size and shape) for the model
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Size'] = le.fit_transform(df['Size'])
df['Shape'] = le.fit_transform(df['Shape'])

# Features and the target variable
X = df[['Size', 'Shape']]
y = df['Color']

# Simple split for demonstration (consider cross-validation for real scenarios)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

# Create the decision tree model
clf = DecisionTreeClassifier()

# Train the model
clf.fit(X_train, y_train)

prediction = clf.predict(X_test)
print("Predicted Color:", prediction[0])

Predicted Color: Green

In [79]:
df

   Size  Shape  Color
0     1      0    Red
1     0      1   Blue
2     1      0  Green

In [80]:
X_test

   Size  Shape
0     1      0

In [21]:
y

0      Red
1     Blue
2    Green
Name: Color, dtype: object