In [4]:
# Comments in Python begin with # (hash) and are ignored by the interpreter
2+4  # Addition

6

In [5]:
2*4  # Multiplication

8

In [6]:
2**4  # 2 raised to power 4

16

In [7]:
2/4  # 2 divided by 4

0.5

In [8]:
# ---ON IDLE---
fruit = ['mango', 'grape',   #List of fruits
'apple']
alphabet = ('a', 'b',       # Tuple of alphabet
'c', 'd') 
opposites = {               # Dictionary of opposites      
'tall': 'short',
'fat': 'slim',
    }

In [9]:
# ---ON IDLE---
a=5;b=6;print(a+b)

11

In [11]:
 # ---ON IDLE---
# To see list of all keywords, type the following two commands
import keyword     # FIRST Command. Imports module keyword
keyword.kwlist     # SECOND Command

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [12]:
# ---ON IDLE---  
x = 2  # x "points" to 2
y = x  # Now y also "points" to 2
y = 3  # Now y "points" to 3
print(x)

2

In [13]:
print(y)

3

In [19]:
# ---ON IDLE---  
x = 'abc'
type(x)    # type() function is used to get type of an object

str

In [20]:
x=5
type(x)

int

In [21]:
# ---ON IDLE---  
myFloat = 78.11
id(myFloat)

2592472845552

In [22]:
myInt = int(myFloat)    # int() is a casting function 
myInt                    # myInt will now point to value 78

78

In [23]:
id(myInt)

140712449055944

In [24]:
id(78)                  # Note id(78) same as id(myInt)

140712449055944